body{
    background-color: #121212;
    color: #FFF;
}
div{
    display: flex;
}
.nome{
    margin-top: 45px;
}
header{
    
}
button{
    margin-top: 45px;
    background-color: #00E676;
    border-radius: 6px;
    border: none;
    margin-right: 5px;
}
#foto-pessoal{
    width: 250px;
    height: 550px;
}